# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/test/
/.classpath
/.project
.classpath
.project
.settings/
src/windowBuildertest.java
